# Use the API URL for the environment being run. Vercel Preview and local development will use the development API URL, while production will use the production API URL.
# Production values are configured separately in the Vercel dashboard.
VITE_API_URL=https://furniture-api-develop.furniture-backend.workers.dev/api
